/video/models/*.blend1
/godot/cube_code.txt
/export
/godot/cube_code_glsl.txt
/godot/cube_code_glsl_fixed.txt
/godot/cube_code_glsl_var.txt
/godot/scenes/tests/*.tmp
/bugs
/godot/dump_buffer.txt
/downloads
/Iguana.nii
/Iguana_png
/Iguana.nii.gz
/build
/godot/art/chris-MRAnii.zip
/godot/art/chris-PDnii.zip
/godot/art/CT-Abdonii.zip
/godot/art/CT-AVMnii.zip
/godot/art/CT-Electrodesnii.zip
/godot/art/CT-Philipsnii.zip
/godot/art/fmri-pitchnii.zip
/godot/art/MR-Gdnii.zip
/godot/art/spmMotornii.zip
/godot/art/visiblehumannii.zip
