/video/models/*.blend1
/godot/cube_code.txt
/export
/godot/cube_code_glsl.txt
/godot/cube_code_glsl_fixed.txt
/godot/cube_code_glsl_var.txt
/godot/scenes/tests/*.tmp
/bugs
/godot/dump_buffer.txt
/downloads
/Iguana.nii
/Iguana_png
/Iguana.nii.gz
